* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #20bfa4, #8fe0bf);
}

.login-box {
  background-color: white;
  width: 400px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.login-box h2 {
  color: #137a6d;
  margin-bottom: 25px;
}

.input-box {
  text-align: left;
  margin-bottom: 15px;
}

.input-box label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 14px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.input-box input:focus {
  border-color: #20bfa4;
}

.checkbox {
  text-align: left;
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
}

.checkbox input {
  margin-right: 6px;
  accent-color: #137a6d;
}

.btn {
  background-color: #137a6d;
  color: white;
  border: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0f6a5e;
}

.links {
  margin-top: 15px;
  font-size: 14px;
}

.links a {
  color: #137a6d;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
.links span{
  opacity: 0.8;
}